<%- include("../components/_head"); -%>

<div class="welcome">
    <h2 class="title">Ready to automate your deployment?</h2>
    <p>
        Take note that this service is still in the Experimental phase and is not being funded in any way. If
        you find our service useful and you want to contribute so that it continues, consider making a donation.
    </p>

    <h3>Integration with</h3>
    <div class="integration">
        <img src="/assets/img/c.png" class="integration-icon not-yet" alt="C logo" />
        <img src="/assets/img/cpp.png" class="integration-icon not-yet" alt="C++ logo" />
        <img src="/assets/img/csharp.png" class="integration-icon not-yet" alt="C# logo" />
        <img src="/assets/img/deno.png" class="integration-icon not-yet" alt="Deno logo" />
        <img src="/assets/img/git.png" class="integration-icon" alt="Git logo" />
        <img src="/assets/img/github.png" class="integration-icon" alt="Github logo" />
        <img src="/assets/img/go.png" class="integration-icon not-yet" alt="Go logo" />
        <img src="/assets/img/java.png" class="integration-icon not-yet" alt="Java logo" />
        <img src="/assets/img/maven.png" class="integration-icon not-yet" alt="Maven logo" />
        <img src="/assets/img/nginx.png" class="integration-icon not-yet" alt="Nginx logo" />
        <img src="/assets/img/nodejs.png" class="integration-icon not-yet" alt="NodeJS logo" />
        <img src="/assets/img/php.png" class="integration-icon not-yet" alt="PHP logo" />
        <img src="/assets/img/python.png" class="integration-icon not-yet" alt="Python logo" />
        <img src="/assets/img/ruby.png" class="integration-icon not-yet" alt="Ruby logo" />
    </div>
</div>

<div class="freetier">
    <h2 class="title">Free Tier</h2>
    <p>
        Don't worry if you don't have money, we love to support small projects. That's why the Free Tier contains the following benefits
    </p>

    <div class="benefits">
        <div class="benefit">
            <span class="benefit-count">3</span>
            <span class="benefit-title">Organizations per User</span>
        </div>

        <div class="benefit">
            <span class="benefit-count">5</span>
            <span class="benefit-title">Projects per Organization</span>
        </div>

        <div class="benefit">
            <span class="benefit-count">10</span>
            <span class="benefit-title">Members per Organization</span>
        </div>
    </div>
</div>

<%- include("../components/_foot"); -%>
