<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title -%> - StrawCI</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/pages.css">
    <script src="/assets/js/ui.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-content">
                <div class="nav-brand">
                    <a href="/"><h1>StrawCI</h1></a>
                </div>

                <div class="nav-items left-items">
                    <a href="/overview" class="nav-item">
                        Overview
                    </a>

                    <a href="/documentation" class="nav-item">
                        Documentation
                    </a>

                    <a href="/getstarted" class="nav-item">
                        Get Started
                    </a>
                </div>

                <div class="nav-items right-items">
                    <a href="/login" class="nav-item btn btn-link">
                        Login
                    </a>

                    <a href="/register" class="nav-item btn btn-primary">
                        Register
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">